/* buttons */
.primary-btn {
  display: inline-block;
  font-size: 15px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  padding: 14px 32px 12px;
  color: $white-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;

  &:hover {

    &:before {
      height: 100%;
      width: 100%;
    }

    &:after {
      height: 100%;
      width: 100%;
    }
  }

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    border-left: 2px solid $primary-color;
    border-top: 2px solid $primary-color;
    content: "";
    z-index: -1;
    @include transition(all, .7s);
  }

  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 30px;
    border-right: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
    content: "";
    z-index: -1;
    @include transition(all, .7s);
  }
}

.site-btn {
  font-size: 15px;
  color: $white-color;
  background: $primary-color;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  border: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px 34px 12px;
  width: 100%;
}
